src/main/java/com/zzy/trace/xmlxsd/trang_result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="java2Xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="addr"/>
        <xs:element ref="area"/>
        <xs:element ref="gender"/>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addr" type="xs:NCName"/>
  <xs:element name="area" type="xs:NCName"/>
  <xs:element name="gender" type="xs:NCName"/>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="name" type="xs:NCName"/>
</xs:schema>
